div[b-s9u1af6ba2] {
    margin: auto;
}

.comp[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 80%;
    justify-content: center;
    gap: 10%;
    padding-top: 10px;
    flex-wrap: wrap;
    row-gap: 6rem;
}
    .comp .item[b-s9u1af6ba2] {
        background-color: #f1f1f1;
        margin: 10px;
        width: 5rem;
        height: 5rem;
    }
    .comp .item img[b-s9u1af6ba2] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .comp .label[b-s9u1af6ba2] {
        text-align: center;
        font-size: 18px;
    }
        .comp .label p[b-s9u1af6ba2] {
            font-size: 14px;
            font-weight: bold;
        }

.total[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 80%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.weapons[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
    .weapons div[b-s9u1af6ba2] {
        background-color: #f1f1f1;
        margin: 10px;
        font-size: 24px;
        width: 3rem;
        height: 3rem;
    }
    .weapons div img[b-s9u1af6ba2] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.space[b-s9u1af6ba2] {
    height: 20%;
    width: 80%;
}

summary[b-s9u1af6ba2] {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}