/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-nyb2mgdy4k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nyb2mgdy4k] {
    flex: 1;
}

.sidebar[b-nyb2mgdy4k] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nyb2mgdy4k] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row[b-nyb2mgdy4k] {
        justify-content: space-between;
    }

    .top-row[b-nyb2mgdy4k]  a, .top-row[b-nyb2mgdy4k]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nyb2mgdy4k] {
        flex-direction: row;
    }

    .sidebar[b-nyb2mgdy4k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nyb2mgdy4k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nyb2mgdy4k]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nyb2mgdy4k], article[b-nyb2mgdy4k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
div[b-s9u1af6ba2] {
    margin: auto;
}

.comp[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 80%;
    justify-content: center;
    gap: 10%;
    padding-top: 10px;
    flex-wrap: wrap;
    row-gap: 6rem;
}
    .comp .item[b-s9u1af6ba2] {
        background-color: #f1f1f1;
        margin: 10px;
        width: 5rem;
        height: 5rem;
    }
    .comp .item img[b-s9u1af6ba2] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .comp .label[b-s9u1af6ba2] {
        text-align: center;
        font-size: 18px;
    }
        .comp .label p[b-s9u1af6ba2] {
            font-size: 14px;
            font-weight: bold;
        }

.total[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 80%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.weapons[b-s9u1af6ba2] {
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
    .weapons div[b-s9u1af6ba2] {
        background-color: #f1f1f1;
        margin: 10px;
        font-size: 24px;
        width: 3rem;
        height: 3rem;
    }
    .weapons div img[b-s9u1af6ba2] {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.space[b-s9u1af6ba2] {
    height: 20%;
    width: 80%;
}

summary[b-s9u1af6ba2] {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}
