.page[b-nyb2mgdy4k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nyb2mgdy4k] {
    flex: 1;
}

.sidebar[b-nyb2mgdy4k] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nyb2mgdy4k] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row[b-nyb2mgdy4k] {
        justify-content: space-between;
    }

    .top-row[b-nyb2mgdy4k]  a, .top-row[b-nyb2mgdy4k]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nyb2mgdy4k] {
        flex-direction: row;
    }

    .sidebar[b-nyb2mgdy4k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nyb2mgdy4k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nyb2mgdy4k]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nyb2mgdy4k], article[b-nyb2mgdy4k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
